[submodule "spack"]
	path = spack
	url = https://github.com/spack/spack.git
[submodule "ifopt"]
	path = ifopt
	url = https://github.com/ethz-adrl/ifopt.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ThirdParty-Mumps"]
	path = ThirdParty-Mumps
	url = https://github.com/coin-or-tools/ThirdParty-Mumps.git
[submodule "ThirdParty-Metis"]
	path = ThirdParty-Metis
	url = https://github.com/coin-or-tools/ThirdParty-Metis.git
[submodule "Ipopt"]
	path = Ipopt
	url = https://github.com/coin-or/Ipopt.git
